@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Dancing+Script&family=Libre+Baskerville:wght@700&family=Mochiy+Pop+One&family=Mochiy+Pop+P+One&family=Playfair+Display:ital,wght@1,500&family=Sawarabi+Gothic&display=swap');
* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color:bisque;
  padding: 20px 10px;
  
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: rgb(59, 22, 4);
  color: black;
}

.header a.active {
  background-color: rgb(51, 32, 22);
  color: white;
}

.header-right {
  float: right;
}

.bg{
    position: absolute;
    width:100%;
    height: 100%;
    z-index: -1;
}
body{

background-size: cover;
    font-family:"Sawarabi Gothic",sans-serif ;
}
main form{
    margin-top:207px;
}


footer{
    height:12vh;
     background-color: 	bisque	; 
     color:whitesmoke;
     font-family: 'Baloo Bhaina 2', cursive;
     position: relative;
     top: 365px;
     
 }
 .cwh{
    position: relative;
top: 16px;
}
 .flex-all-center{
    display:flex;
    justify-content: center;
    align-items: center;
   position:relative;
   top:-34px;
   color:black;
 }


 .container1{
    display: grid;
grid-template-columns: auto auto;
background-color: 		bisque;
grid-template-rows: 222px;
  
margin: 5px 0px 11px 0px;
}
  .subitem h1{
    font-size: 76px;
    text-align: center;
  }
  .subitem1 img{
    width: 100%;
height: 100%;
  }
  .btncon button{
    width: 167px;
    height: 56px;
    background-color: rgb(116, 80, 63);
    color: white;
  }
#i1 h1{
font-size: 88px;
text-align: center;
color: rgb(113, 54, 26);
padding-top: 60px;
}
#i1 h4{
    font-size: 25px;
text-align: center;
color: rgb(78, 46, 27);
}
  .btncon{
      align-items: center;
  }

@media only screen and (max-width:600px){
    .header a {
        float: none;
        display: block;
        text-align: left;
      }
      
      .header-right {
        float: none;
      }
.maincontainer{
    display: grid;
    grid-template-columns: auto auto;
}
.item img{
    width: 50%;
    height: 75%;
    padding: 9% 0px 0px 34%;
}

#i1{
    text-align: center;

    position: relative;
    top: 22%;
}
.item h1{
    color: brown;
    font-weight: bolder;
    letter-spacing: 8px;
}
.btncon{
display: flex;
justify-content: center;
}
.btncon button{
    width: 133px;
color: black;
background-color: 	#00CED1;
height: 40px;
border-style: dashed;
border-radius: 11px;
}
}
